@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  body {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  article p.town-article img { 
    width: 29.333%; 
    height: auto;
   
  }

  .gallery{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 1em;
  }
  .gallery figure:hover {
    border: 1px solid #352e26;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  figure {
    padding-top: 20px;
   
  
  }
  figcaption {
    
    
  }
 
  fieldset {
    max-width: 50%;

  }
}
