/* Green: ##99ba3c 
Brown: #432c28
Red:#9f2322
Cream: #f0e9ce */

@import url('https://fonts.googleapis.com/css?family=Catamaran');
* {
    font-family: "Catamaran", Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0e9ce;
    color: #432c28;
    min-height: 100%;
}

header {
    margin: 1%;
    padding: 1%;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.img-header {
    text-align: center;
}

h1, h2, h3, h4, h5 {
    display: inline;
    margin: 0;
    padding: 0;
}

.greeting {
    overflow: hidden;
    height: 35px;
    animation: typewriter;
    animation-duration: 7s;
}

.greeting2 {
    overflow: hidden;
    height: 35px;
    animation: typewriter;
    animation-delay: 7s;
    animation-duration: 15s;
}

.container {
    margin: 1%;
    padding: 1%;
    /*   display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
    grid-auto-rows: minmax(35px, auto); */
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: white;
    border: 1px solid rgba(67, 44, 40, .5);
    border-radius: 10px;
    padding: 1%;
    margin: 1%;
    width: 40%;
    /*  grid-column: 1 / 3;
    grid-row: 2/5;
    margin-right: 40px; */
}

form {
    display: flex;
    justify-content: flex-end;
}

input.button {
    border: 1px gray;
    border-radius: 5px;
    padding: 2%;
    text-align: center;
}

.card-header {
    padding: 1%;
    margin: 1%;
}

.card-body {
    padding: 1%;
    margin: 1%;
}

.inner-card {
    width: 50%;
    height: auto;
    border-radius: 5%;
}

/* .one {
    grid-column: 1 / 3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-around;
}

.two {
    grid-column: 2 / 3;
    grid-row: 1/2;
    display: flex;
}

.three {
    grid-column: 3 / 5;
    grid-row: 1/5;
} */

/* .left {
    grid-column: 1 / 3;
    grid-row: 1/5;
    display: grid;
} */

.card>img {
    width: 50px;
    height: auto;
}

div>img {
    width: 50px;
    height: auto;
}

a {
    color: gray;
}

input[type=number] {
    width: 40px;
}

#item-price {
    width: 100px;
}

hr {
    border: 1px solid #9f2322;
}

#overlay, #item-overlay, #per-overlay {
    display: block;
    padding: 1%;
    border-radius: 10px;
}

.image-border {
    display: flex;
    justify-content: space-around;
    width: 95%;
}

img.bushels {
    opacity: 0;
    animation-name: bushels;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

img.bushels2 {
    opacity: 1;
    animation-name: bushels2;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes overlay {
    0% {
        background-color: rgba(153, 186, 60, .9);
        transform: scale(1.25, 1.25);
    }
    20% {
        background-color: rgba(153, 186, 60, .7);
        transform: scale(1.2, 1.2);
    }
    40% {
        background-color: rgba(153, 186, 60, .5);
        transform: scale(1.15, 1.15);
    }
    60% {
        background-color: rgba(153, 186, 60, .3);
        transform: scale(1.1, 1.1);
    }
    80% {
        background-color: "rgba(153, 186, 60, .1);";
        transform: scale(1.05, 1.05);
    }
    100% {
        background-color: "";
        transform: scale(1, 1);
    }
}

@keyframes bushels {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes bushels2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes typewriter {
    0% {
        width: 0%;
    }
    10% {
        width: 10%;
    }
    20% {
        width: 20%;
    }
    30% {
        width: 30%;
    }
    40% {
        width: 40%;
    }
    50% {
        width: 50%;
    }
    60% {
        width: 60%;
    }
    70% {
        width: 70%;
    }
    80% {
        width: 80%;
    }
    90% {
        width: 90%;
    }
    100% {
        width: 100%;
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* ##### BUTTON STYLES ###### */

.btn:hover, .btn:focus, .btn:active {
    background-color: #f0e9ce;
    color: #432c28;
    border-color: rgba(67, 44, 40, .5);
}

.btn-primary, .btn.btn-primary, input.btn.btn-primary, input.btn-primary.active:focus, input.btn-primary.active:hover {
    background-color: #432c28;
    color: #f0e9ce;
    border-color: #432c28;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary:active:hover, .btn-primary:active:focus {
    background-color: #f0e9ce;
    color: #432c28;
    border-color: rgba(67, 44, 40, .5);
}

/* ##### END - BUTTON STYLES ###### */

/* ##### COLORS ####### */

.red {
    background-color: #9f2322;
    color: #f0e9ce;
    padding: .5%;
}

.brown {
    background-color: #432c28;
    color: #f0e9ce;
    padding: .5%;
}

.green {
    background-color: #99ba3c;
    color: #432c28;
    padding: .5%;
}

.cream {
    color: #f0e9ce
}

/* ##### END -COLORS ####### */

/*##### SHAPES ####### */

#circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid yellow;
}