/* Green: ##99ba3c 
Brown: #432c28
Red:#9f2322
Cream: #f0e9ce */

@import url('https://fonts.googleapis.com/css?family=Catamaran');
* {
    font-family: "Catamaran", Helvetica, Arial, sans-serif;
}

body {
    background-color: #f0e9ce;
    color: #432c28;
    min-height: 100%;
}

h1, h2, h3, h4, h5 {
    border: 2px darkslateblue dashed;
    display: inline;
    margin: 0;
    padding: 0;
}

p {
    border: 2px dashed salmon;
}

.container {
    border: 2px dashed green;
    margin: 1%;
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1%;
    grid-auto-rows: minmax(35px, auto);
}

/* .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    height: 100%;
    border: 2px darkcyan dashed;
} */

.card {
    background-color: white;
    border: 1px solid rgba(67, 44, 40, .5);
    padding: 0;
    width: 100%;
    border: 2px dashed blue;
    grid-column: 1 / 3;
    grid-row: 2/5;
    margin: 2%;
}

form {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.card-header {
    padding: 1%;
    border: 2px aqua dashed;
}

.card-body {
    padding: 1%;
    border: 2px violet dashed;
}

.box {
    border: 2px dashed darkorange;
    text-align: center;
    justify-content: center;
}

.box>div {
    border: 2px dashed darkcyan;
}

.one {
    grid-column: 1 / 2;
    grid-row: 1;
    display: flex;
    justify-content: space-around;
}

.two {
    grid-column: 2 / 3;
    grid-row: 1;
    display: flex;
}

.three {
    grid-column: 3 / 5;
    grid-row: 1/5;
    border: 2px dashed mediumseagreen;
}

.left {
    grid-column: 1 / 3;
    grid-row: 1/5;
    border: 2px dashed mediumseagreen;
    display: grid;
}

.card>img {
    width: 50px;
    height: auto;
}

a {
    color: gray;
}

input {
    border: 2px dashed darkgoldenrod;
}

input[type=number] {
    width: 40px;
}

#item-price {
    width: 100px;
}

label {
    border: 2px dashed darkgreen;
}

hr {
    border: 1px solid #9f2322;
}

#overlay {
    display: block;
}

/* ##### ANIMATIONS ###### */

@keyframes overlay {
    0% {
        background-color: rgba(153, 186, 60, .9);
        transform: scale(1.25, 1.25);
    }
    20% {
        background-color: rgba(153, 186, 60, .7);
        transform: scale(1.2, 1.2);
    }
    40% {
        background-color: rgba(153, 186, 60, .5);
        transform: scale(1.15, 1.15);
    }
    60% {
        background-color: rgba(153, 186, 60, .3);
        transform: scale(1.1, 1.1);
    }
    80% {
        background-color: "rgba(153, 186, 60, .1);";
        transform: scale(1.05, 1.05);
    }
    100% {
        background-color: "";
        transform: scale(1, 1);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* ##### BUTTON STYLES ###### */

.btn:hover, .btn:focus, .btn:active {
    background-color: #f0e9ce;
    color: #432c28;
    border-color: rgba(67, 44, 40, .5);
}

.btn-primary, .btn.btn-primary, input.btn.btn-primary, input.btn-primary.active:focus, input.btn-primary.active:hover {
    background-color: #432c28;
    color: #f0e9ce;
    border-color: #432c28;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary:active:hover, .btn-primary:active:focus {
    background-color: #f0e9ce;
    color: #432c28;
    border-color: rgba(67, 44, 40, .5);
}

/* ##### END - BUTTON STYLES ###### */

/* ##### COLORS ####### */

.red {
    background-color: #9f2322;
    color: #f0e9ce;
    padding: .5%;
}

.brown {
    background-color: #432c28;
    color: #f0e9ce;
    padding: .5%;
}

.green {
    background-color: #99ba3c;
    color: #432c28;
    padding: .5%;
}

.cream {
    color: #f0e9ce
}

/* ##### END -COLORS ####### */

/*##### SHAPES ####### */

#circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%
}

#triangle-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid yellow;
}